{% extends "base.html" %}
{% load staticfiles %}


{% block bodycontent %}

<!--Banner Area Start-->
<!--<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-text text-center">
                    <h3>Our Vision</h3>
                </div>
            </div>
        </div>    
    </div>
</div>-->
<!--End of Banner Area-->
<div class="blog-area section-padding-bottom blog-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">
                                    <h1>Volunteer Opportunities</h1>
                                    <sub>How you can help</sub>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="single-item">
                                    <div class="single-item-text">
                                        <div class="donate-item-info">
                                            <h5>
                                                We are always looking for like-minded individuals to help run our many activities. Whatever your passion and expertise, we have a place for you! 
                                                Below is a list of available positions. If you don’t see a role suited for
                                                 you contact our Volunteer Coordinator about how you would like to contribute.
                                            </h5>
                                            <hr>
                                           
                                            <p>
                                                
                                            </p>
                                            <h3>Available Positions</h3>
                                            <hr>
                                             <div class="list-group">
                                                {% for activity in activities %}
                                                    <a href="#" class="list-group-item">
                                                        <h4 class="list-group-item-heading">{{activity.summary}}</h4>
                                                        <p class="list-group-item-text">{{activity.details}}</p>
                                                    </a>
                                                {% endfor %}
                                          
                                            </div>

                                                    <small class="label label-info">Please send an email to info@atheist.org.ng to tell us a position you want to volunteer for!</small>
                                        </div> 
                                    </div>
                                </div>
                                
                               
                            </div>
                            <div class="col-md-4">
                               
                                <div class="single-sidebar-widget">
                                    <div class="sidebar-widget-title">
                                        <h4>Summary</h4>
                                        <div class="recent-posts">
                                            <div class="recent-post-item">
                                                <h6><a href="#">We always need volunteers</a></h6>
                                            </div>
                                            <div class="recent-post-item">
                                                <h6><a href="#">Send us a mail on info@atheist.org.ng to tell us about what you can do for the community.</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-sidebar-widget">
                                    <div class="image-information">
                                        <p>Giving back to the local community and the wider world is essential to our core beliefs</p>
                                        <a href="{% url 'contact' %}">contact us now</a>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>

{% endblock bodycontent %}