{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
<style>
    .banner-area{
        background:url(/static/img/background/faq.png);
    }
</style>
{% endblock extra-css %}

{% block bodycontent %}

<!--Banner Area Start-->
<!--<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-text text-center">
                    <h3>About Atheism</h3>
                </div>
            </div>
        </div>    
    </div>
</div>-->
<!--End of Banner Area-->

<!--Blog Details Area Start-->
                <div class="blog-area section-padding-bottom blog-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">
                                    <h1>Next Steps! Almost done!</h1>
                                </div>

                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-8">
                                <div class="panel panel-info">
                                    <div class="panel-heading"><h4>1. Pay the registration fees</h4></div>
                                    <div class="panel-body">
                                        <p>Bank: Access Bank</p>
                                        <p>Account Number: 0739048315</p>
                                        <p>Account Name: Atheist Society of Nigeria</p>
                                    </div>
                                </div>

                                <div class="panel panel-info">
                                    <div class="panel-heading"><h4>2. Let us know</h4></div>
                                    <div class="panel-body">
                                        <p>Send us a mail at accounts@atheist.org.ng with proof of payment (screenshot or transaction ID).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
                <!--End of Blog Details Area-->


{% endblock bodycontent %}