{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Visiona and Mission{% endblock head_title %}

{% block bodycontent %}
<!--Background Area Start-->
<div class="featured-area featured-area-three home-three" style="padding: 0px">
<div class="background-area">       
    <img src="{% static 'img/vision.jpg' %}" alt=""/>
    <div class="banner-content slider-1 static-text">
         
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-content-wrapper">
                        <div class="text-content text-center">
                            <h1 class="title1 border-none">
                                <span class=""></span>
                            </h1>                            
                        </div>
                    </div>
                </div>
            </div>
         
    </div>
</div>
</div>
<!--End of Background Area-->


 <!--Register Page Area Start-->
                <div class="contact-form-area section-gray" style="padding-top: 100px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-center">
                                    <h2><span>Vision and</span> Mission</h2>
                                </div>
                               
                                        <div class="row">  
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading text-center">Vision and Mission:</div>
                                                    <div class="panel-body">
                                                         <div class="col-md-12">
                                                            <div class="form-group has-feedback">
                                                                <div class="callout callout-info text-justify">
                                                                Atheist Society of Nigeria’s vision is to promote a secular Nigeria where public policy, education and scientific enquiry will be founded on sound reason, rationality and evidence, and not influenced by religious beliefs. Atheist Society of Nigeria’s mission is to work with state and non-state institutions to promote and protect the rights and interests of atheists, freethinkers and nonbelievers in the country and also undertake educational and advocacy projects. 

                                                                <br>I affirm that I support atheistic goals and purposes and also support the vision and mission of Atheist Society of Nigeria
                                                            </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                          
                                </div>
                            </div>
                        </div>    
                    </div>
                <!--End of Register Page Area-->

{% endblock bodycontent %}

