{% extends "base.html" %}
{% load staticfiles %}
 

{% block head_title %}Students Delegate Application Received{% endblock head_title %}


{% block bodycontent %}
<div class="featured-area featured-area-three home-three" style="padding: 0px">
<div class="background-area">       
    <img src="{% static 'img/road2.jpg' %}" alt=""/>
    <div class="banner-content slider-1 static-text">
         
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-content-wrapper">
                        <div class="text-content text-center">
                            <h1 class="title1 border-none">
                            <!--Road to Reason <br>
                            <small>Nov 11th 2017 National Convention!</small> -->
                            Coming Soon <br>
                            <small>2018 National Convention Details!</small>
                            <br>Your Application has been received
                            </h1>                            
                        </div>
                    </div>
                </div>
            </div>
         
    </div>
</div>
</div>
<!--End of Banner Area-->
<div class="blog-area section-padding-bottom blog-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">
                                    <h4 style="text-align: center; line-height: 1.5;">
                                                <br><br>
                                                We would reach you as soon as possible if you are selected
                                                <br><br>
                                                Inform other friends of yours who are open to reason and freethinking
                                                <br/><br>
                                                <strong>Lets all help build our Nation</strong>

                                        </h4>
                                    <!-- <h1>Event Calendar</h1>
                                    <sub>What we have planned</sub> -->
                                </div>
                            </div>
                        </div>
                    </div>
</div>
{% endblock bodycontent %}