{% extends "base.html" %}
{% load staticfiles %}
 

{% block head_title %}Students Delegate 2017 ASN Convention{% endblock head_title %}


{% block extra-js %}
<script>
  $(function () {


    $('#id_first_name').attr('placeholder', 'First Name');
    $('#id_first_name').addClass('form-control');

    $('#id_last_name').attr('placeholder', 'Last Name');
    $('#id_last_name').addClass('form-control');

    $('#id_phone').attr('placeholder', 'Mobile');
    $('#id_phone').addClass('form-control');

    $('#id_email').attr('placeholder', 'Email');
    $('#id_email').addClass('form-control');

    $('#id_school').attr('placeholder', 'Name of Institution');
    $('#id_school').addClass('form-control');

    $('#id_department').attr('placeholder', 'Department/Course of Study');
    $('#id_department').addClass('form-control');

    $('#id_level').attr('placeholder', 'Level');
    $('#id_level').addClass('form-control');

    $('#id_image').attr('placeholder', 'Uploade your identification');
    $('#id_image').addClass('form-control');

    $('#id_state').attr('placeholder', 'State');
    $('#id_state').addClass('form-control');

    $('#id_address').attr('placeholder', 'Current Contact Address');
    $('#id_address').addClass('form-control');

    $('#id_extra_info').attr('placeholder', 'Why should we select you?');
    $('#id_extra_info').addClass('form-control');

  });
</script>

{% endblock extra-js %}

{% block bodycontent %}

<!--Banner Area Start-->
<!--
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-text text-left">
                    <h3>Nov 11th 2017 National Convention!</h3>
                </div>
            </div>
        </div>    
    </div>
</div>
background: url("{% static 'img/icon/banner-icon.png' %}") no-repeat scroll 0 0; -->

<div class="featured-area featured-area-three home-three" style="padding: 0px">
<div class="background-area">       
    <img src="{% static 'img/road2.jpg' %}" alt=""/>
    <div class="banner-content slider-1 static-text">
         
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-content-wrapper">
                        <div class="text-content text-center">
                            <h1 class="title1 border-none">
                            <!--Road to Reason <br>
                            <small>Nov 11th 2017 National Convention!</small> -->
                            Coming Soon <br>
                            <small>2018 National Convention Details!</small>
                            </h1>                            
                        </div>
                    </div>
                </div>
            </div>
         
    </div>
</div>
</div>
<!--End of Banner Area-->
<div class="blog-area section-padding-bottom blog-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">
                                    <h4 style="text-align: center; line-height: 1.5;">
                                                Venue: Conference Center, Unilag Guest House, University of Lagos<br/>
                                                Time:  9am to 5pm

                                        </h4>
                                    <!-- <h1>Event Calendar</h1>
                                    <sub>What we have planned</sub> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="single-item">
                                    <div class="single-item-text">
                                        <div class="donate-item-info">
                                           
                                            <div class="contact-form-area " style="padding-top: 1px;">
                                                <form action="" method="POST">{% csrf_token %}
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                
                                                                 {% if form.non_field_errors %}
                                                                    {% for error in form.non_field_errors %}
                                                                        <div class="alert alert-danger">
                                                                            {{ error }}
                                                                        </div>
                                                                    {% endfor %}
                                                                {% endif %}
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="panel panel-info">
                                                                            <div class="panel-heading">
                                                                                <div class="section-title text-center">
                                                                                    <h4>Students Delegate Award Application. 
                                                                                    2017 ASN Convention</h4>
                                                                                </div>
                                                                            </div>
                                                                            <div class="panel-body">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group has-feedback">
                                                                                        {% if form.first_name.errors %}
                                                                                            <div class="alert alert-danger">
                                                                                                {{ form.first_name.errors }}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                        {{ form.first_name }}
                                                                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group has-feedback">
                                                                                        {% if form.last_name.errors %}
                                                                                        <div class="alert alert-danger">
                                                                                            {{ form.last_name.errors }}
                                                                                        </div>
                                                                                        {% endif %}
                                                                                        {{ form.last_name }}
                                                                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group has-feedback">
                                                                                            {% if form.email.errors %}
                                                                                            <div class="alert alert-danger">
                                                                                                {{ form.email.errors }}
                                                                                            </div>
                                                                                            {% endif %}
                                                                                            {{ form.email }}
                                                                                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group has-feedback">
                                                                                        {% if form.phone.errors %}
                                                                                                <div class="alert alert-danger">
                                                                                                    {{ form.phone.errors }}
                                                                                                </div>
                                                                                            {% endif %}
                                                                                            {{ form.phone }}
                                                                                            <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                

                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group has-feedback">
                                                                                            {% if form.school.errors %}
                                                                                            <div class="alert alert-danger">
                                                                                                {{ form.school.errors }}
                                                                                            </div>
                                                                                            {% endif %}
                                                                                            {{ form.school }}
                                                                                            <span class="glyphicon glyphicon-education form-control-feedback"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group has-feedback">
                                                                                        {% if form.department.errors %}
                                                                                                <div class="alert alert-danger">
                                                                                                    {{ form.department.errors }}
                                                                                                </div>
                                                                                            {% endif %}
                                                                                            {{ form.department }}
                                                                                            <span class="glyphicon glyphicon-book form-control-feedback"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                
                                                                                    
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group has-feedback">
                                                                                            {% if form.level.errors %}
                                                                                            <div class="alert alert-danger">
                                                                                                {{ form.level.errors }}
                                                                                            </div>
                                                                                            {% endif %}
                                                                                            {{ form.level }}
                                                                                            <span class="glyphicon glyphicon-scale form-control-feedback"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group has-feedback">
                                                                                        {% if form.state.errors %}
                                                                                                <div class="alert alert-danger">
                                                                                                    {{ form.state.errors }}
                                                                                                </div>
                                                                                            {% endif %}
                                                                                            {{ form.state }}
                                                                                            <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                                                                                        </div>
                                                                                    </div>       

                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group has-feedback">
                                                                                        {% if form.image.errors %}
                                                                                                <div class="alert alert-danger">
                                                                                                    {{ form.image.errors }}
                                                                                                </div>
                                                                                            {% endif %}
                                                                                            {{ form.image }}
                                                                                            <span class="glyphicon glyphicon-picture form-control-feedback"></span>
                                                                                        </div>
                                                                                    </div>                                                
                                                                                
                                                                                <div class="col-md-12">
                                                                                <div class="form-group has-feedback">
                                                                                    {% if form.address.errors %}
                                                                                        <div class="alert alert-danger">
                                                                                            {{ form.address.errors }}
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {{ form.address }}
                                                                                    <span class="glyphicon glyphicon-home form-control-feedback"></span>
                                                                                </div>
                                                                                </div>
                                            
                                                                                <div class="col-md-12">
                                                                                    <div class="form-group has-feedback">
                                                                                        {% if form.extra_info.errors %}
                                                                                        <div class="alert alert-danger">
                                                                                            {{ form.extra_info.errors }}
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {{ form.extra_info }}
                                                                                </div>
                                                                                </div>

                                                                                <div class="col-md-12 text-center">
                                                                                    <button type="submit" class="btn btn-block btn-success">Apply!
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--endrow-->
                                                            </div>
                                                        </div>
                                                    </div><!--container-->
                                                </form>
                                            </div>
                                           
                                        </div> 
                                    </div>
                                </div>
                                
                               
                            </div>
                            <div class="col-md-4">
                            <div class="form-container">
                                    <h4 style="text-align: center; line-height: 1.5;">
                                       CALL FOR STUDENT DELEGATES SPONSORSHIP APPLICATION
                                    </h4>
                                        <p style="text-align: justify; font-weight:30px;">
                                        The <strong>Atheist Society of Nigeria (ASN)</strong> in collaboration with the <strong>International Humanist and Ethical Union (IHEU)</strong>, is calling for applications from students who want to attend the national convention from their various schools.
                                        <br><br>
                                        We will be sponsoring 20 students from 10 schools who meet our criteria for selection. 
                                        <br><br>
                                        Sponsorship details include transportation to and from Lagos and modest accommodation for two days in Lagos.
                                        <br><br>
                                        Interested students should fill this form with a scanned copy of a valid means of student identification. And a short compelling post as to why you should be considered for sponsorship to the convention. 
                                        <br><br>
                                        Students who apply are expected to establish local chapters of the <strong>ASN </strong>in their various higher institutions after the conference in line with objectives of the organisation.

                                        <br><br>
                                        Students can alternatively send applications to info@atheist.org.ng in PDF format in a one page attachment, with all the informations as contained in this form. 
                                        <br><br>
                                        Application closes on 14th of October 2017.
                                        </p>
                                    <!-- <h1>Event Calendar</h1>
                                    <sub>What we have planned</sub> -->
                                </div>
                            
                                {% include 'convention/side.html' %}
                             
                            </div>
                            <!-- gggggggggggggg -->
                        </div>
                    </div>
                </div>

{% endblock bodycontent %}