<div class="single-sidebar-widget">
                                    
    <div class="sidebar-widget-title">
        <h4>More information</h4>
        <div class="recent-posts">
            <div class="recent-post-item">
                <h6><a href="{% url 'programme' %}"><i class="fa fa-book"> </i> View our Programme of Events</a></h6>
            </div>
            <div class="recent-post-item">
                <h6><a href="{% url 'speakers' %}"><i class="fa fa-user"> </i> See our list of Speakers</a></h6>
            </div>
             <div class="recent-post-item">
                <h6><a href="{% url 'venue' %}"><i class="fa fa-map-marker"> </i> Locate the Venue</a></h6>
            </div>
        </div>
    </div>
</div>