{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}Convention Speakers{% endblock head_title %}

{% block bodycontent %}
<!-- <img src="{% static 'img/background/backpage2.png' %}" alt=""/>   
    style="background: url({% static 'img/background/2.jpg' %})"

<div class="banner-area" style="background: url({% static 'img/speakers.jpeg' %})no-repeat scroll 0 0; ">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-text">
                    <h3>News and Blog</h3>
                </div>
            </div>
        </div>    
    </div>
</div>
-->

<div class="featured-area featured-area-three home-three" style="padding: 0px">
<div class="background-area">       
    <img src="{% static 'img/road2.jpg' %}" alt=""/>
    <div class="banner-content slider-1 static-text">
         
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-content-wrapper">
                        <div class="text-content text-center">
                            <h1 class="title1 border-none">
                            Coming Soon
                                <span class=""></span>
                            </h1>                            
                        </div>
                    </div>
                </div>
            </div>
         
    </div>
</div>
</div>

<!--End of Banner Area-->
<div class="blog-area section-padding-bottom blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-container">
                    <h4 style="text-align: center; line-height: 1.5;">
                       List of Speakers Coming soon
                    </h4>
                    <!-- <h1>Event Calendar</h1>
                    <sub>What we have planned</sub> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="single-item">
                    <div class="single-item-text">
                        <div class="donate-item-info">
                            <div class="contact-form-area " style="padding-top: 1px;">
<!--
                                <div class="row">
                                    <div class="col-md-3">

                                    <img src="{% static 'img/bill.jpg' %}"><br><br>
 

                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                        <br>
                                        <h3>Road to Reason</h3> <br>
                                        <h4>Bill Flavell <br>
                                        <small><small>Atheist Alliance International</small></small>
                                        </h4>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/igwe.jpg' %}"><br><br>

                                    
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                        <br>
                                        <h3>Challenges of Atheism in Nigeria</h3> <br>
                                        <h4>Leo Igwe<br>
                                        <small><small>Humanist Association of Nigeria</small></small>
                                        </h4>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/thankyou.jpg' %}"><br><br>


                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    <br>
                                        <h3>Activities of HAG and IHEYO</h3> <br>
                                        <h4>Ros Lyn<br>
                                        <small>
                                            <small>Humanist Assembly of Ghana and Chair IHEYO</small>
                                        </small>
                                        </h4>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/thankyou.jpg' %}"><br><br>

                                    
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    <br>
                                        <h3>Activities of Atheists in Kenya</h3> <br>
                                        <h4>Harrison Munia<br>
                                        <small><small>Atheist in Kenya</small></small>
                                        </h4>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/bala.jpg' %}"><br><br>

                                    
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    <br>
                                        <h3>Leaving Islam: The Experience of an Ex-muslim</h3> <br>
                                        <h4>Mubarak Bala <br>
                                        <small><small>Humanist Association of Ghana</small></small>
                                        </h4>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/thankyou.jpg' %}"><br><br>
                                   
                                    
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                     <br>
                                        <h3>Merging Human Brain with Computer: The Implications for the Future of Humanity</h3> <br>
                                        <h4>Chogwu Abdul<br>
                                        <small><small>Transhumanist Group of Nigeria</small></small>
                                        </h4>
                                    </div>
                                </div>
                                <hr> -->
                                <!--
                                    <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/thankyou.jpg' %}"><br><br>
                                    <h5 style="text-align: center">Opadeyi Bayo <br>
                                   <small>Secretary, Atheist Society of Nigeria</small></h5>
                                    
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    Bayo Opadeyi grew up in a chatholic home and became an atheist long before he knew the word "atheist". Though he had a relapse into pentecostalism where he taught sunday school for 5 years. He is the one of the founding persons and the Secretary of the Atheist Society of Nigeria.
                                    He lives in lagos where he runs his business and plays chess
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
            {% include 'convention/side.html' %}
            </div>

        </div>
    </div>
</div>


{% endblock bodycontent %}
