{% extends "base.html" %}
{% load staticfiles %}


{% block bodycontent %}


<div class="volunteers-area section-gray ">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2><span>meet our </span>volunteers</h2>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy<br>
                with my whole heart. I am alone, and feel the charm of existence in this spot, which was created</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="single-volunteer-item overlay-hover">
                <div class="volunter-image overlay-effect">
                    <a href="#"><img src="{% static 'img/volunteer/1.jpg' %}" alt=""></a>
                    <div class="follow-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="volunteer-text">
                    <div class="volunteer-title">
                        <h3>John smith</h3>
                        <span>CEO</span>
                    </div>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="single-volunteer-item overlay-hover">
                <div class="volunter-image overlay-effect">
                    <a href="#"><img src="{% static 'img/volunteer/2.jpg' %}" alt=""></a>
                    <div class="follow-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="volunteer-text">
                    <div class="volunteer-title">
                        <h3>Cristina rose</h3>
                        <span>Manager</span>
                    </div>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="single-volunteer-item overlay-hover">
                <div class="volunter-image overlay-effect">
                    <a href="#"><img src="{% static 'img/volunteer/3.jpg' %}" alt=""></a>
                    <div class="follow-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="volunteer-text">
                    <div class="volunteer-title">
                        <h3>Jack Winson</h3>
                        <span>Designer</span>
                    </div>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-sm">
            <div class="single-volunteer-item overlay-hover">
                <div class="volunter-image overlay-effect">
                    <a href="#"><img src="{% static 'img/volunteer/4.jpg' %}" alt=""></a>
                    <div class="follow-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="volunteer-text">
                    <div class="volunteer-title">
                        <h3>John doe</h3>
                        <span>CEO</span>
                    </div>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock bodycontent %}