{% extends "base.html" %}
{% load staticfiles %}


{% block bodycontent %}

<!--Banner Area Start-->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-text text-left">
                    <h3>Board of Trustees</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->
<!--End of Banner Area-->
<div class="blog-area section-padding-bottom blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-container">
                    <h4 style="text-align: center; line-height: 1.5;">
                       Members of the Board of Trustees
                    </h4>
                    <!-- <h1>Event Calendar</h1>
                    <sub>What we have planned</sub> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="single-item">
                    <div class="single-item-text">
                        <div class="donate-item-info">
                            <div class="contact-form-area " style="padding-top: 1px;">

                              <div class="row">
                                  <div class="col-md-3">
                                  <img src="{% static 'img/bayo.jpg' %}"><br><br>
                                  <h5 style="text-align: center">Opadeyi Bayo <br>
                                 <small>President, Atheist Society of Nigeria</small></h5>

                                  </div>
                                  <div class="col-md-9"  style="text-align: justify">
                                  Bayo Opadeyi grew up in a chatholic home and became an atheist long before he knew the word "atheist". Though he had a relapse into pentecostalism where he taught sunday school for 5 years. He is the one of the founding persons and the President of the Atheist Society of Nigeria.
                                  He lives in lagos where he runs his software development business and plays chess
                                  </div>
                              </div>
                              <hr>

                              <div class="row">
                                  <div class="col-md-3">
                                  <img src="{% static 'img/lhebade.jpeg' %}"><br><br>
                                  <h5 style="text-align: center">Lhebade Agwadu <br>
                                 <small>Vice President, Atheist Society of Nigeria</small></h5>

                                  </div>
                                  <div class="col-md-9"  style="text-align: justify">
                                  Lhebade Agwadu was born and raised a catholic where he dedicated 12 years of his life serving as an alter boy. In his quest to make the world better, he consulted the Christian Bible to uncover the source(s) of African underdevelopment. Like an animated oxymoron, the Bible rather led him to Atheism. He holds a BSc degree in Political Science from Nasarawa state University Keffi and an MSc degree in Political Economy and Development Studies from the University of Jos. He currently pursues a PhD degree in Political Economy from the University of Nigeria Nsukka. He is passionate about promoting the application of critical thinking to different areas of life with a view to building a better world. His position as a lecturer in Federal University Wukari, Taraba state offers him the opportunity to do just that. A neo-Marxist at heart, he is the first and serving Vice President, Atheist Society of Nigeria.
                                  </div>
                              </div>
                              <hr>


                               <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/sabastine.png' %}"><br><br>
                                    <h5 style="text-align: center">Freeborn Sebastine Amadi <br>
                                    <small>Secretary, Atheist Society of Nigeria</small></h5>
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">

                                    Mr. <strong>Freeborn S. Amadi</strong> is an enquiry minded person. He is a member of the work group that developed the framework and implemented the institution of Atheist Society of Nigeria. He worked in the financial services sector of the Nigerian economy and presently a project development consultant. He is passionate about humanism.
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/doris.jpg' %}"><br><br>
                                    <h5 style="text-align: center">Doris Nwanne <br>
                                    <small>Financial Secretary, Atheist Society of Nigeria</small></h5>

                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    <strong>Doris Nwanne</strong> is a Chartered Accountant by profession and a published author. She is the Chief Executive Officer of Redvine Investments Limited and Financial Controller of Mayfair Microfinance Bank.

                                    She is a mother, a Humanist/Atheist and also an active member of the Atheist Community in Nigeria. She is currently the Financial Secretary if Atheist Society of Nigeria
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/isiah.png' %}"><br><br>
                                    <h5 style="text-align: center">Isiah Akorita <br>
                                    <small>P.R.O, Atheist Society of Nigeria</small></h5>

                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    <strong>Isiah Akorita</strong> is a graduate of Pharmacy from the University of Nigeria, Nsukka. He likes to read 'sciency' stuff and fancies himself as a lifelong student of science.<br>
                                    He's also an active member of the Atheist/Humanist community in Nigeria and has huge followership on Facebook. He is the Public Relation Officer of Atheist Society of Nigeria

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/nandip.jpg' %}"><br><br>
                                    <h5 style="text-align: center">Nandip Andrew <br>
                                    <small>A.F.W.G, Atheist Society of Nigeria</small></h5>

                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    Nandip Andrew is a graduate of Agricultural Extension and Management from college of Agriculture Lafia. He was a former Banker with Unity Bank PLC, E-business Department, POS, Cards and Mobile Banking Units.<br>
                                    He is an executive commitee member Western Africa Regional Reprsentative, Africa Working Group AFWG, of International Humanist/Atheist community in Nigeria
                                    </div>
                                </div>
                                <hr> 
                                {% comment %}
                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/lilian.png' %}"><br><br>
                                    <h5 style="text-align: center">Lillian Nwosu <br>
                                   <!--<small>A.F.W.G, Atheist Society of Nigeria</small></h5> -->

                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    Lillian Nwosu is a great fan of reason, evidence, and common sense. She aims to
                                    propagate a more intelligent and humane Nigeria. Her core passion is education,
                                    because she believes that a society is a reflection of the people who live in it.
                                    </div>
                                </div>
                                <hr> 
                                {% endcomment %}
                                <div class="row">
                                    <div class="col-md-3">

                                    <img src="{% static 'img/igwilo.jpg' %}"><br><br>
                                    <h5 style="text-align: center">Calistus Igwilo <br>
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                        <strong>Calistus Igwilo</strong> has a B.Tech in Biotechnology from Federal University of Technology Owerri, (FUTO), Nigeria and an MSc in Bioengineering from University of Nottingham, UK. He is a co-founder and chief Operating Officer of a Biotech company base in Lagos Nigeria.<br>

                                        He was formerly a member of University of Nottingham Atheist, Secularists and Humanists Association and an Executive Commitee member of Nottingham Secular Society in 2013, where he gained some valuable experience in running a secular nonprofit organisation. He co-founded Port Harcourt Secular Society in 2014 and served as it founding president. He is active in the atheist community in Nigeria and was the founding president of Atheist Society of Nigeria.
                                    </div>
                                </div>
                                <hr>

                                <!-- <div class="row">
                                    <div class="col-md-3">
                                    <img src="{% static 'img/nandip.jpg' %}"><br><br>
                                    <h5 style="text-align: center">Nandip Andrew <br>
                                    <small>A.F.W.G, Atheist Society of Nigeria</small></h5>
                                    </div>
                                    <div class="col-md-9"  style="text-align: justify">
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
            {% include 'convention/side.html' %}
            </div>
        </div>
    </div>
</div>



{% endblock bodycontent %}
