{% extends "base.html" %}
{% load staticfiles %}


{% block bodycontent %}

<!--Banner Area Start-->
<!--<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-text text-center">
                    <h3>Our Vision</h3>
                </div>
            </div>
        </div>    
    </div>
</div>-->
<!--End of Banner Area-->
<div class="blog-area section-padding-bottom blog-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">
                                    <h1>The Future</h1>
                                    <sub>What we are looking forward to</sub>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="single-item">
                                    <div class="single-item-text">
                                        <div class="donate-item-info">
                                            <h5>
                                                Atheist Society of Nigeria was founded by a group of Nigerians who believe that there is life after rejection of belief in a deity. As such, Atheist Society of Nigeria has values we stand for, values that will benefit the Nigerian society as a whole instead of disintegrating Nigerian societal values.

                                            </h5>
                                            <hr>

                                        </div> 
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="single-item-text">
                                            <h4>Rationality</h4>
                                        <div class="donate-item-info">
                                                Atheist Society of Nigeria is aware of the benefits of rationality and logic. Cognitive science in psychology even proves it, in that a rational human being (arising from persistent efforts at logical thinking) is a lot less likely to be overwhelmed by emotion and commit crimes of passion.

Thinking influences emotion and vice versa. Rational thoughts arising from logical thinking and valuing logic makes a human being emotionally regulated, able to keep his cool in the face of people experiencing strong emotions and have clear-cut motives for any action/inaction he takes.

This quality is a much-desired trait for the development of Nigerian society where many crimes are committed every day.
                                        </div> 
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="single-item-text">
                                            <h4>Critical Thinking</h4>
                                        <div class="donate-item-info">
                                            This is defined as the objective analysis of an issue in order to form a judgment. Atheist Society of Nigeria recognizes there is no such thing as the ultimate reality and human beings see only what their perception lets them.
To tie that in with rationality and avoiding emotional reasoning, Atheist Society of Nigeria seeks to promote considering all facets of an issue and changing one’s opinion in light of new, empirical evidence. This is achieved via structured questioning and a deep sense of humility that accepts no-one is the ultimate authority on knowledge.
Critical thinking is a much-desired trait for the development of Nigerian society  where many people groan at the use of tired ideas that once worked in the past but have no place in the 21st Century; ideas that promote stagnation and retrogression, not the progress of the Nigerian individual and society.
Atheist Society of Nigeria recognizes the trait of critical thinking in leaders in societies around the world who possessed a deep sense of humility that let them consider the opinions of those around them but were not afraid to rely solely on their own judgment borne out of critical thinking for the betterment of their people.

                                        </div> 
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="single-item-text">
                                            <h4>Science</h4>
                                        <div class="donate-item-info">
                                            Wikipedia defines Science as a systematic enterprise that builds and organizes knowledge in the form of testable explanations and predictions about the universe.
Atheist Society of Nigeria seeks to leverage on the well-established benefits of science by disseminating the idea that no society can progress if  its authorities make explanations that cannot be readily tested and explained.
 If predictions and explanations for events in that society cannot be readily demonstrated to an outside dispassionate observer without attempting to police his thoughts via a cry for faith, methods that will be invented or improved upon to solve the existing challenges of that society will not come about.
Even people understand the meaning of productivity, where a benefit, explanation and prediction is readily apparent and testable to outside observers; and does not exist 
                                        </div> 
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="single-item-text">
                                            <h4>Community</h4>
                                        <div class="donate-item-info">
                                            Atheist Society of Nigeria recognizes the basic emotional need of every human being, to belong to something larger than oneself! This larger than oneself could refer to a group of friends, family, society, humanity as a whole, or a social/political cause.
An unsatisfied need of belonging to something larger than oneself has been shown to cause severe loneliness, demotivation, health issues, and even financial difficulties.
Atheist Society of Nigeria is well-aware that many Nigerians are atheist in the closet, too afraid to come out for fear of this basic emotional need not being satisfied via ostracization. This fear and acute painfulness that results from feeling different  from those around one can be rather unbearable for most human beings.
It is in light of this that Atheist Society of Nigeria was founded to satisfy this basic human need of those who are in the closet, suffering from the acute pain of having to tailor one’s actions and thoughts in a bid to have this basic emotional need met.
Via conferences, online groups and actual meetups organized by Atheist Society of Nigeria, an atheist living in the closet can find like minds among whom s/he resonates, without feeling the pressure to abide by any doctrine, creed, or standard for behaviour.

                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                               
                                <div class="single-sidebar-widget">
                                    <div class="sidebar-widget-title">
                                        <h4>Summary</h4>
                                        <div class="recent-posts">
                                            <div class="recent-post-item">
                                                <h6><a href="#">To Promote Rationality, Science and Critical Thinking</a></h6>
                                            </div>
                                            <div class="recent-post-item">
                                                <h6><a href="#">To provide a warm community for Freethinkers.</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-sidebar-widget">
                                    <div class="image-information">
                                        <p>Giving back to the local community and the wider world is essential to our core beliefs</p>
                                        <a href="{% url 'contact' %}">contact us now</a>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>

{% endblock bodycontent %}