
                    <div class="mobile-menu-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="mobile-menu">
                                        <nav id="dropdown">
                                            <ul>
                                                <li><a href="{% url 'home' %}">HOME</a>
                                                </li>
                                                <li><a href="#">News &amp; Events</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="{% url 'events' %}">Event calendar</a></li>
                                                        <li><a href="{% url 'meetups' %}">Social Events</a></li>
                                                        <li><a href="{% url 'news_items' %}">News</a></li>
                                                        <li><a href="{% url 'convention' %}">2017 Convention</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'register' %}">Register</a></li>
                                                <li><a href="{% url 'make_gift' %}">Donate</a></li>
                                                <li><a href="#">Activism</a>
                                                        <ul class="sub-menu">
                                                        <li><a href="{% url 'volunteer' %}">Volunteer Opportunities</a></li>
                                                        <li><a href="/affiliates/">Affiliations</a></li>
                                                        <li><a href="{% url 'committees' %}">Committees</a></li>
                                                        <li><a href="#">Resources</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">About Us</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="{% url 'mission' %}">Our Mission</a></li>
                                                        <li><a href="{% url 'future' %}">The Future</a></li>
                                                        <li><a href="{% url 'bot' %}">Board of Trustees</a></li>
                                                        <!-- <li><a href="{% url 'executives' %}">Our Executive</a></li> -->
                                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                        <li><a href="{% url 'faq' %}">About Atheism</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>					
                                </div>
                            </div>
                        </div>
                    </div>