{% extends "base.html" %}
{% load staticfiles %}


{% block bodycontent %}

<!--Banner Area Start-->
<!--<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-text text-center">
                    <h3>Our Vision</h3>
                </div>
            </div>
        </div>    
    </div>
</div>-->
<!--End of Banner Area-->
<div class="blog-area section-padding-bottom blog-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-container">
                                    <h1>Our Mission</h1>
                                    <sub>What we are here for</sub>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="single-item">
                                    <div class="single-item-text">
                                        <div class="donate-item-info">
                                            <h5>
                                                The Atheist Society of Nigeria was registered with the Corporate Affairs Commission of Nigeria on the 10th of March, 2017. The Atheist Society of Nigeria exist to provide a voice for freethinking individuals and societies in Nigeria and to to promote rational, critical and scientific thinking.
                                            </h5>
                                            <hr>
                                           
                                            <p>
                                                The Atheist Society of Nigeria  has as one of our primary objectives, to provide a voice for freethinking individuals and societies in Nigeria, so that we can be a platform through which they can make their needs and views known locally and internationally.
                                            </p>
                                            <p>
                                                To promote Humanism, Reason and Compassion. Seeing that we need each other as co-tenants on this planet with lives that are intertwined, and understanding that reason is the most effective means we have discovered to navigate reality, we have as a goal to promote its use as our primary tool, instead of superstition and fear mongering.
                                            </p>
                                            <p>
                                                We also seek to provide opportunities for socialization and friendship among atheists, agnostics and freethinkers, thus providing a warm and mutually beneficial community.
                                            </p>
                                            <p>
                                                To promote rational, scientific and critical thinking. To stand as a light of reason and critical thinking, and to teach others the tools as well.
                                            </p>
                                            <p>
                                                To work with other organizations in pursuit of common goals.
                                            </p>
                                        
                                        </div> 
                                    </div>
                                </div>
                                
                               
                            </div>
                            <div class="col-md-4">
                               
                                <div class="single-sidebar-widget">
                                    <div class="sidebar-widget-title">
                                        <h4>Summary</h4>
                                        <div class="recent-posts">
                                            <div class="recent-post-item">
                                                <h6><a href="#">To Promote Reason, Science and Critical Thinking</a></h6>
                                            </div>
                                            <div class="recent-post-item">
                                                <h6><a href="#">To provide a warm community for Freethinkers.</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-sidebar-widget">
                                    <div class="image-information">
                                        <p>Giving back to the local community and the wider world is essential to our core beliefs</p>
                                        <a href="{% url 'contact' %}">contact us now</a>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>

{% endblock bodycontent %}